<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AuthenticationAndAuthorization</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/My Sass Library/css/style.min.css" />
</head>
<body onload="initTheme">
    @using Microsoft.AspNetCore.Identity;
    @using AuthenticationAndAuthorization.Data;
    @using System.Security.Claims;

    @inject SignInManager<AppUser> SignInManager
    @inject UserManager<AppUser> UserManager
    
    <div class="shadow-overlay"></div>
    <header class="header">
        <h1 class="logo">Michelle's School For Gifted Youngsters</h1>
        <nav class="pc-nav-bar">
            <ul class="pc-nav-links">
                @if (User.HasClaim(ClaimTypes.Role, "Admin"))
                {
                    <li>
                        <a asp-controller="Admin" asp-action="StudentList">
                            <svg class="icon"><use xlink:href="#listIcon" /></svg>
                            List
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Admin" asp-action="Index">
                            <svg class="icon"><use xlink:href="#homeIcon" y="-1" /></svg>
                            Home
                        </a>
                    </li>
                }
                else if (User.HasClaim(ClaimTypes.Role, "Student"))
                {
                    <li>
                        <a asp-controller="Student" asp-action="Index">
                            <svg class="icon"><use xlink:href="#homeIcon" y="-1" /></svg>
                            Home
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Student" asp-action="Details"  asp-route-id="@UserManager.GetUserId(User)">
                            Details
                        </a>
                    </li>
                }
                <li class="night-mode--container">
                    <span>Night</span><input class="night-mode--toggle" type="checkbox" id="nightToggle" /><label for="nightToggle" class="night-mode--label">Toggle</label>
                </li>
            </ul>
        </nav>
        @if (!User.HasClaim(ClaimTypes.Role, "Admin") && !User.HasClaim(ClaimTypes.Role, "Student"))
        {
            <a asp-controller="Authenticate" asp-action="Login" class="btn-secondary--rectangle cta">Log-In</a>
        }
        else
        {
            <a asp-controller="Authenticate" asp-action="Logout" class="btn-secondary--rectangle cta">Log-Out</a>
        }
    </header>
    <nav class="nav-bar">
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <ul class="nav-links">
            <li class="night-mode--container"><span>Night</span><input class="night-mode--toggle" type="checkbox" id="nightToggleMobile" /><label for="nightToggleMobile" class="night-mode--label">Toggle</label></li>
            @if (User.HasClaim(ClaimTypes.Role, "Admin"))
            {
                <li>
                    <a asp-controller="Admin" asp-action="StudentList">
                        List
                    </a>
                </li>
                <li>
                    <a asp-controller="Admin" asp-action="Index">
                        Home
                    </a>
                </li>
            }
            else if (User.HasClaim(ClaimTypes.Role, "Student"))
            {
                <li>
                    <a asp-controller="Student" asp-action="Index">
                        Home
                    </a>
                </li>
                <li>
                    <a asp-controller="Student" asp-action="Details" asp-route-id="@UserManager.GetUserId(User)">
                        Details
                    </a>
                </li>
            }

            @if (!User.HasClaim(ClaimTypes.Role, "Admin") && !User.HasClaim(ClaimTypes.Role, "Student"))
            {
                <a asp-controller="Authenticate" asp-action="Login" class="btn-secondary--rectangle cta">Log-In</a>
            }
            else
            {
                <a asp-controller="Authenticate" asp-action="Logout" class="btn-secondary--rectangle cta">Log-Out</a>
            }

        </ul>
    </nav>



    <div class="container scroll-check">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - AuthenticationAndAuthorization - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/My Sass Library/js/navbar.js"></script>
    @RenderSection("Scripts", required: false)
</body>

<svg style="display: none;"
     xmlns:dc="http://purl.org/dc/elements/1.1/"
     xmlns:cc="http://creativecommons.org/ns#"
     xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
     xmlns:svg="http://www.w3.org/2000/svg"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
     xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
     width="100"
     height="100"
     viewBox="0 0 26.458333 26.458333"
     version="1.1"
     id="svg8"
     inkscape:version="1.0.1 (3bc2e813f5, 2020-09-07)"
     sodipodi:docname="HomeIcon.svg"
     inkscape:export-filename="C:\Users\Michelle\Desktop\School\APPDEV-Group\Midterm SVG\HomeIcon.png"
     inkscape:export-xdpi="96.900002"
     inkscape:export-ydpi="96.900002">
    <defs id="defs2" />
    <sodipodi:namedview id="base"
                        pagecolor="#ffffff"
                        bordercolor="#666666"
                        borderopacity="1.0"
                        inkscape:pageopacity="0.0"
                        inkscape:pageshadow="2"
                        inkscape:zoom="5.55"
                        inkscape:cx="50"
                        inkscape:cy="50"
                        inkscape:document-units="mm"
                        inkscape:current-layer="layer1"
                        inkscape:document-rotation="0"
                        showgrid="false"
                        units="px"
                        inkscape:window-width="1304"
                        inkscape:window-height="745"
                        inkscape:window-x="-8"
                        inkscape:window-y="-8"
                        inkscape:window-maximized="1" />
    <metadata id="metadata5">
        <rdf:RDF>
            <cc:Work rdf:about="">
                <dc:format>image/svg+xml</dc:format>
                <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                <dc:title></dc:title>
            </cc:Work>
        </rdf:RDF>
    </metadata>
    <g inkscape:label="Layer 1"
       inkscape:groupmode="layer"
       id="layer1">
        <symbol id="homeIcon" viewBox="0 0 100 100" width="80"
                height="80">
            <path id="path840"
                  style="fill:#e6e6e6;stroke:#000000;stroke-width:0.600004;stroke-linejoin:round;stroke-opacity:0"
                  d="M 13.104648,2.100002 0.99995218,12.689635 H 4.230889 v 11.748973 c 0,0.03409 0.02472,0.06139 0.055299,0.06139 h 3.6655762 1.0787148 0.34568 c -0.02954,0 -0.0533,-0.0247 -0.0533,-0.05541 v -7.952329 c 0,-0.03072 0.02376,-0.05541 0.0533,-0.05541 h 7.647715 c 0.02954,0 0.0533,0.02471 0.0533,0.05541 v 7.952329 c 0,0.03072 -0.02376,0.05541 -0.0533,0.05541 h 0.345679 0.220259 4.524033 c 0.03058,0 0.0553,-0.0273 0.0553,-0.06139 V 12.689635 h 3.230938 L 13.15113,2.100002 Z m 0.0051,0.3952901 h 0.04409 L 24.256742,12.27351 h -2.517536 v 11.761891 c 0,0.02971 -0.02299,0.05361 -0.05156,0.05361 h -4.134259 c -0.02858,0 -0.05155,-0.02391 -0.05155,-0.05361 V 16.024598 H 8.882216 v 8.010803 c 0,0.02971 -0.02298,0.05361 -0.05156,0.05361 H 4.6963834 c -0.028572,0 -0.051558,-0.02391 -0.051558,-0.05361 V 12.27351 h -2.507386 z" />
        </symbol>
    </g>
</svg>

<svg xmlns:dc="http://purl.org/dc/elements/1.1/"
     xmlns:cc="http://creativecommons.org/ns#"
     xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
     xmlns:svg="http://www.w3.org/2000/svg"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
     xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
     width="100"
     height="100"
     viewBox="0 0 26.458333 26.458334"
     version="1.1"
     id="svg937"
     sodipodi:docname="ListIcon.svg"
     inkscape:version="1.0.1 (3bc2e813f5, 2020-09-07)"
     inkscape:export-filename="C:\Users\Michelle\Desktop\School\APPDEV-Group\Midterm SVG\ListIcon.png"
     inkscape:export-xdpi="96.900002"
     inkscape:export-ydpi="96.900002">
    <defs id="defs931" />
    <sodipodi:namedview id="base"
                        pagecolor="#ffffff"
                        bordercolor="#666666"
                        borderopacity="1.0"
                        inkscape:pageopacity="0.0"
                        inkscape:pageshadow="2"
                        inkscape:zoom="5.55"
                        inkscape:cx="50"
                        inkscape:cy="50"
                        inkscape:document-units="mm"
                        inkscape:current-layer="layer1"
                        inkscape:document-rotation="0"
                        showgrid="false"
                        units="px"
                        inkscape:window-width="1304"
                        inkscape:window-height="745"
                        inkscape:window-x="-8"
                        inkscape:window-y="-8"
                        inkscape:window-maximized="1" />
    <metadata id="metadata934">
        <rdf:RDF>
            <cc:Work rdf:about="">
                <dc:format>image/svg+xml</dc:format>
                <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                <dc:title></dc:title>
            </cc:Work>
        </rdf:RDF>
    </metadata>
    <g inkscape:label="Layer 1"
       inkscape:groupmode="layer"
       id="layer1">
        <symbol id="listIcon" viewBox="0 0 100 100" width="80"
                height="80">
            <path id="rect2088"
                  style="fill:#e6e6e6;stroke:#000000;stroke-width:2.26772;stroke-linejoin:round;stroke-opacity:0"
                  d="M 14.740234 6.8027344 C 14.530849 6.8027344 14.361328 6.9722548 14.361328 7.1816406 L 14.361328 93.353516 C 14.361328 93.562901 14.530849 93.732422 14.740234 93.732422 L 85.794922 93.732422 C 86.004308 93.732422 86.173828 93.562901 86.173828 93.353516 L 86.173828 7.1816406 C 86.173828 6.9722548 86.004308 6.8027344 85.794922 6.8027344 L 14.740234 6.8027344 z M 16.630859 8.6933594 L 83.90625 8.6933594 C 84.115636 8.6933594 84.283203 8.8609267 84.283203 9.0703125 L 84.283203 91.464844 C 84.283203 91.67423 84.115636 91.841797 83.90625 91.841797 L 16.630859 91.841797 C 16.421474 91.841797 16.251953 91.67423 16.251953 91.464844 L 16.251953 9.0703125 C 16.251953 8.8609267 16.421474 8.6933594 16.630859 8.6933594 z M 25.701172 18.376953 C 24.654243 18.376953 23.810547 19.220648 23.810547 20.267578 C 23.810547 21.314507 24.654243 22.15625 25.701172 22.15625 L 74.833984 22.15625 C 75.880914 22.15625 76.724609 21.314507 76.724609 20.267578 C 76.724609 19.220648 75.880914 18.376953 74.833984 18.376953 L 25.701172 18.376953 z M 25.701172 30.376953 C 24.654243 30.376953 23.810547 31.218695 23.810547 32.265625 C 23.810547 33.312554 24.654243 34.15625 25.701172 34.15625 L 74.833984 34.15625 C 75.880914 34.15625 76.724609 33.312554 76.724609 32.265625 C 76.724609 31.218695 75.880914 30.376953 74.833984 30.376953 L 25.701172 30.376953 z M 25.701172 42.378906 C 24.654243 42.378906 23.810547 43.220649 23.810547 44.267578 C 23.810547 45.314507 24.654243 46.158203 25.701172 46.158203 L 74.833984 46.158203 C 75.880914 46.158203 76.724609 45.314507 76.724609 44.267578 C 76.724609 43.220649 75.880914 42.378906 74.833984 42.378906 L 25.701172 42.378906 z M 25.701172 54.378906 C 24.654243 54.378906 23.810547 55.220649 23.810547 56.267578 C 23.810547 57.314507 24.654243 58.158203 25.701172 58.158203 L 74.833984 58.158203 C 75.880914 58.158203 76.724609 57.314507 76.724609 56.267578 C 76.724609 55.220649 75.880914 54.378906 74.833984 54.378906 L 25.701172 54.378906 z M 25.701172 66.378906 C 24.654243 66.378906 23.810547 67.220649 23.810547 68.267578 C 23.810547 69.314507 24.654243 70.158203 25.701172 70.158203 L 74.833984 70.158203 C 75.880914 70.158203 76.724609 69.314507 76.724609 68.267578 C 76.724609 67.220649 75.880914 66.378906 74.833984 66.378906 L 25.701172 66.378906 z M 25.701172 78.378906 C 24.654243 78.378906 23.810547 79.220649 23.810547 80.267578 C 23.810547 81.314507 24.654243 82.158203 25.701172 82.158203 L 74.833984 82.158203 C 75.880914 82.158203 76.724609 81.314507 76.724609 80.267578 C 76.724609 79.220649 75.880914 78.378906 74.833984 78.378906 L 25.701172 78.378906 z "
                  transform="scale(0.26458333)" />
        </symbol>
    </g>
</svg>
</html>
